<%- include('./layout.ejs') %>

    <div class="container">
        <div class="container-fluid">

            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">Tables</h1>
            <p class="mb-4">Berikut Merupakan Data Train </p>


            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Data Train</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <div class="button ">
                            <a href="/train/add" class="btn btn-primary">Add Train</a>
                        </div>
                        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Name Train</th>
                                    <th>Time Arrive</th>
                                    <th>Time Departure</th>
                                    <th>From Station</th>
                                    <th>To Station</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% dataTrain.forEach(train=> { %>
                                    <tr class="text-center">
                                        <th>
                                            <%= train.id %>
                                        </th>
                                        <th>
                                            <%= train.name %>
                                        </th>
                                        <th>
                                            <%= train.schedule.timeArriveTrain %>
                                        </th>
                                        <th>
                                            <%= train.schedule.timeDepartureTrain %>
                                        </th>
                                        <th>
                                            <%= train.station.from%>
                                        </th>
                                        <th>
                                            <%= train.station.to %>
                                        </th>
                                    </tr>
                                    })
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('./footer.ejs') %>